@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
	--cursor-blend-mode: color-dodge;
	--color-black: #000;
	--color-white: #fff;

	--color-gray-100: #f9fafb;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #333333;
	--color-gray-800: #0b101e;
	--color-gray-900: #0e1217;

	--color-blue-100: #caf0f8;
	--color-blue-200: #90e0ef;
	--color-blue-300: #40c9ff;
	--color-blue-400: #0077b6;
	--color-blue-500: #0070f3;
	--color-blue-600: #03045e;

	--color-fuchsia-700: #e81cff;

	--cursor-border-color: yellow;
	--cursor-active-color: yellow;
	--cursor-blend-mode: color-dodge;
	--sh-class: #2d5e9d;
	--sh-identifier: #354150;
	--sh-sign: #8996a3;
	--sh-property: #0550ae;
	--sh-entity: #249a97;
	--sh-jsxliterals: #6266d1;
	--sh-string: #00a99a;
	--sh-keyword: #f47067;
	--sh-comment: #a19595;
}

@theme {
	--animation-fade-out: fade-out 0.8s ease-in-out forwards;
	--animation-fade-in: fade-in 0.8s ease-in-out forwards;
	--animation-fade-in-up: fade-in-up 0.8s ease-in-out forwards;
	--animation-gradient: gradient 5s ease infinite;

	@keyframes fade-out {
		0% {
			transform: translateY(0) translateX(-0.2px);
			opacity: 1;
			font-weight: 500;
		}

		20% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0.5;
		}

		40% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0.3;
		}

		60% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0.2;
		}

		100% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0.6;
		}

		60% {
			opacity: 0.8;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade-in-up {
		0% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0;
		}

		20% {
			transform: translateY(24px) translateX(-0.2px);
			opacity: 0.5;
		}

		80% {
			transform: translateY(0) translateX(-0.2px);
			opacity: 0.7;
		}

		100% {
			transform: translateY(0) translateX(-0.2px);
			opacity: 1;
		}
	}

	@keyframes gradient {
		'0%': {
			backgroundposition: '0% 50%';
		}
		,
	'50%': {
			backgroundposition: '100% 50%';
		}
		,
		100% {
			background-position: '0% 50%';
		}
	}
}

@utility text-balance {
	text-wrap: balance;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@utility bg-size-200 {
	background-size: 200% 200%;
}

@utility bg-pos-0 {
	background-position: 0% 0%;
}

@utility bg-pos-100 {
	background-position: 100% 100%;
}

@utility debug-screens {
	&::before {
		position: fixed;
		right: 1rem;
		bottom: 1rem;
		z-index: 2147483647;
		background-color: var(--color-gray-100);
		padding: 0.25rem 0.5rem;
		font-family: monospace;
		font-size: 0.75rem;
		color: var(--color-gray-900);
		content: 'xs';
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		border-radius: 0.25rem;
		border: 1px solid var(--color-gray-300);
	}

	:where(.dark, .dark *) & {
		background-color: var(--color-blue-300);
		color: var(--color-gray-100);
	}

	@media (width >= theme(--breakpoint-sm)) {
		&::before {
			content: 'sm';
		}
	}

	@media (width >= theme(--breakpoint-md)) {
		&::before {
			content: 'md';
		}
	}

	@media (width >= theme(--breakpoint-lg)) {
		&::before {
			content: 'lg';
		}
	}

	@media (width >= theme(--breakpoint-xl)) {
		&::before {
			content: 'xl';
		}
	}

	@media (width >= theme(--breakpoint-2xl)) {
		&::before {
			content: '2xl';
		}
	}
}
