@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--cursor-border-color: yellow;
	--cursor-active-color: yellow;
	--cursor-blend-mode: color-dodge;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--cursor-border-color: purple;
		--cursor-active-color: purple;
		--cursor-blend-mode: color-dodge;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

/* Ensure links and buttons show a pointer cursor */

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@page {
	/* margin: 20mm; */
	margin: 10px 40px;
}
